
# Definitively text files
*.html text linguist-language=Python
*.php  text linguist-language=Python
*.css  text linguist-language=Python
*.js   text linguist-language=Python
*.txt  text linguist-language=Python
*.md   text linguist-language=Python
*.xml  text linguist-language=Python
*.json text linguist-language=Python
*.bat  text linguist-language=Python
*.sql  text linguist-language=Python
*.xml  text linguist-language=Python
*.yml  text linguist-language=Python

# Ensure those won't be messed up with
*.png  binary
*.jpg  binary
*.gif  binary
*.ttf  binary
