<!-- index.html-->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- custom css -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/simple-sidebar.css') }}">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="nav sidebar-nav" role="tablist">
                <li role="presentation" class="sidebar-brand active">
                    <a href="#hometab" aria-controls="hometab" role="tab" data-toggle="tab">
                        Blackboard Assisstant
                    </a>
                </li>
                <li role="presentation" class="sidebar-brand">
                    <a href="#Classlist" aria-controls="Classlist" role="tab" data-toggle="tab">Classlist</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="hometab">
                <div class="row">
                        <h1>Blackboard Assisstant</h1>
                        <p>This tool allows you to set up and automate tedious tasks on your Blackboard homepage</p>
                        <p>provide your blackboard information</p>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#myModal"  style="padding-bottom: 7px;margin-bottom: 20px;">
                          Log in
                        </button>
                        <br />
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Blackboard Login</h4>
                              </div>
                              <div class="modal-body">
                                <form class="form-horizontal">
                                  <div class="form-group">
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                      <input type="email" class="form-control" id="inputEmail" placeholder="mickeymouse@disney.com">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10">
                                      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                    </div>
                                  </div>
                                </form>

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="save()" data-dismiss="modal">Save changes</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <p>Then check all the boxes that apply in each section</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Get Started!</a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="Classlist">
              <div class="row">
              <div id="_4_1termCourses_noterm" style="text-align: left">
                      <h3 id="anonymous_element_8">Courses where you are: Instructor</h3>
                      <ul class="portletList-img courseListing coursefakeclass ">
               <br />
              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357234_1&amp;url=" target="_top">DEV PHY 132 (2017 Fall)</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_355735_1&amp;url=" target="_top">DEV PHY 132 (2017 Fall)</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_333430_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2016 Fall)-72628</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_333432_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2016 Fall)-72629</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_332737_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2016 Fall)-73831</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_333431_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2016 Fall)-74662</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_333433_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2016 Fall)-75869</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357747_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2017 Fall)-72381</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357744_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2017 Fall)-72382</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357733_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2017 Fall)-72383</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357741_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2017 Fall)-72384</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357738_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2017 Fall)-72385</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357734_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2017 Fall)-72386</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357748_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2017 Fall)-73443</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357745_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2017 Fall)-74135</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357743_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2017 Fall)-75181</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357742_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2017 Fall)-85430</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357739_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2017 Fall)-85431</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357737_1&amp;url=" target="_top">PHY 114: General Physics Laboratory (2017 Fall)-85432</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_356996_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-71852</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357084_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-71853</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357236_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-71854</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357245_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-71855</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357251_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-71856</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357064_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-71857</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357085_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-71858</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357238_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-71859</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357246_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-71860</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357252_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-71861</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357258_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-72442</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357082_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-72535</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357088_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-72536</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357241_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-72537</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357249_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-72873</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357256_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-72874</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357262_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-72875</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357083_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-72876</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357243_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-75088</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357250_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-75089</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357257_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-75167</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357259_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-75339</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357263_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-75891</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357065_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-75892</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357086_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-75893</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357239_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-75894</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357247_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-76860</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357253_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-76861</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357260_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-76862</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357081_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-76863</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357087_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-76864</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357240_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-81733</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357248_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-81734</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357255_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-81735</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357261_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-81736</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357235_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-81737</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_357244_1&amp;url=" target="_top">PHY 132: University Physics Lab II (2017 Fall)-81738</a>

              </ul>
                      <h3 id="anonymous_element_9">Courses where you are: Student</h3>
                      <ul class="portletList-img courseListing coursefakeclass ">
                           <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_352915_1&amp;url=" target="_top">ASU Information Security Training Refresher - July 2016 -- June 2017</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_347374_1&amp;url=" target="_top">ECN 211: Macroeconomic Principles 23175-23176</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_269728_1&amp;url=" target="_top">EH&amp;S: Liquid Nitrogen Fill Station Safety</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_249343_1&amp;url=" target="_top">EHS Fire Safety &amp; Prevention Annual Course</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_214380_1&amp;url=" target="_top">EHS Hazardous Waste Management Refresher</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_287329_1&amp;url=" target="_top">MSBA Student Group</a>

               <br />

              <input type="checkbox"> <a href=" /webapps/blackboard/execute/launcher?type=Course&amp;id=_345471_1&amp;url=" target="_top">PHI 314: Philosophy of Science (2017 Spring)</a>

              </ul>
            </div>
          </div>


            </div>

        </div>

        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <!-- Bootstrap core and javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='jquery.js')}}"></script>
    <script type="text/javascript">
      $('#myTabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
      })
  </script>
  <script type="text/javascript"> </script>
    <script src="js/jquery.js"></script>

    <script>
      function save(){
      var text_to_save=document.getElementById('inputEmail').value;
      localStorage.setItem("textEmail", text_to_save); // save the item
      }
    </script>
    <script>
      function save(){
      var text_to_save=document.getElementById('inputPassword').value;
      localStorage.setItem("text", text_to_save); // save the item
      }
    </script>
    <script>
    function retrieve(){
    var text=localStorage.getItem("textEmail"); // retrieve
    document.getElementById('textDiv').innerHTML = text; // display
    }
    </script>
    <script>
    function retrieve(){
    var text=localStorage.getItem("textPassword"); // retrieve
    document.getElementById('textDiv').innerHTML = text; // display
    }
    </script>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
